@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #071426, #102138 45%, #0b1626 100%);
  color: var(--text-primary);
}
